
SMARTSPECTRA_API_KEY = Iog1Xq84R98UzeRI9Z0kz9iTGYtTzrpK7AwMoDoK
DATABASE_URL=postgres://tsdbadmin:elftp7o536diwk1b@ryxb1ad0oj.rpqogshw90.tsdb.cloud.timescale.com:35192/tsdb?sslmode=verify-full
TIGER_NEW_PASSWORD='apsaojdbz24ou6u5' tiger db save-password xwnviy1yrc



GEMINI_API_KEY="your-gemini-api-key"
ELEVENLABS_API_KEY="your-elevenlabs-api-key"